<div class="col-md-12 answer-row">
  <div class="col-md-1 text-center pagination-centered">
    <%= f.check_box :is_correct, class: "check-correct" %>
  </div>
  <div class="col-md-9"> 
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="col-md-2 text-center">
    <%= f.hidden_field :_destroy %>
  </div>
  <span class="btn btn-warning remove-answer-row">
    <%= t "button_remove" %>
  </span>
</div>
